* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to left, #606c88, #3f4c6b);
}

.calculator input {
  /* width: 20rem; */
  margin-bottom: 2rem;
  padding: 5px;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  background-color: #1a1a1c;
}

.row {
  display: flex;
}

.numeric {
  background-color: #c3083f;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  color: white;
}

.equal {
  background-color: #215f00;
}

.clear {
  background-color: red;
  margin: 1rem;
}

button {
  flex: 1;
  border-radius: 50px;
  margin: 0.3rem;
  padding: 0.5rem 1.5rem;
  font-size: 20px;
  background-color: rgb(66, 66, 66);
  border: none;
  cursor: pointer;
  color: white;
}
